services:
  app:
    build:
      context: ./web
      dockerfile: Dockerfile
    image: hackatonai_web:latest
    environment:
      NODE_ENV: development
      PORT: 3000
      HOSTNAME: 0.0.0.0
      MONGODB_URI: mongodb://localhost:27017/mydb
      AI_URL: http://localhost:8000
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - ./web:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      mongo:
        condition: service_healthy
    network_mode: host

  mongo:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    network_mode: host

volumes:
  mongo_data:
  chroma_db:
  ollama_data:
networks:
  default:
    driver: bridge
