services:
  app:
    build:
      context: ./web
      dockerfile: Dockerfile
    image: hackatonai_web:latest
    environment:
      NODE_ENV: development
      PORT: 3000
      HOSTNAME: 0.0.0.0
      MONGO_URI: mongodb://mongo:27017/mydb
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - ./web:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  ai:
    build:
      context: ./ai
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./ai:/app
    command: ["bash", "/app/entrypoint.sh"]

volumes:
  mongo_data:
