services:
  app:
    build:
      context: ./web
      dockerfile: Dockerfile
    image: hackatonai_web:latest
    environment:
      NODE_ENV: development
      PORT: 3000
      HOSTNAME: 0.0.0.0
      MONGODB_URI: mongodb://mongo:27017/mydb
      AI_URL: http://ai:8000
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - ./web:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - default

  mongo:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - default

  ai:
    build:
      context: ./ai
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./ai/data:/app/data
      - ./ai/src:/app/src
      - chroma_db:/app/chroma_db
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    networks:
      - default

  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    restart: unless-stopped
    # ports:
    #   - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - OLLAMA_MODELS=/root/.ollama
    entrypoint: >
      sh -c "
      ollama serve &
      sleep 5 &&
      ollama pull qwen2.5:7b &&
      wait
      "

volumes:
  mongo_data:
  chroma_db:
  ollama_data:
networks:
  default:
    driver: bridge
